<%= form_for([:admins, flight_class]) do |form| %>
  <%= form.hidden_field :flight_id, value: flight_class.flight_id %>

  <% if flight_class.errors.any? %>
    <div class="text-danger">
      <p><%= pluralize(flight_class.errors.count, "error") %> prohibited this flight class from being saved:</p>

      <ul>
        <% flight_class.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :seat_price, class: 'form-label' %>
    <%= form.text_field :seat_price, class: 'form-control' %>
  </div>  

  <%= form.submit 'Save', class: 'btn btn-primary' %>
<% end %>
