<div class="row">
  <div class="col mb-5">
    <div class="card shadow rounded">
      <h4 class="card-header bg-primary bg-gradient text-white">
        Choose Your Seat Location
      </h4>
      <div class="card-body text-center">
        <%= 
          form_with(
            url: passengers_flight_reservation_url(
                pnr: @flight_reservation.pnr,
                flight_id: @flight_reservation.flight_id
            ), method: :patch
          ) do |form| 
        %>
          <% if @flight_reservation.errors.any? %>
            <div class="text-danger">
              <p><%= pluralize(@flight_reservation.errors.count, "error") %> prohibited this flight reservation from being saved:</p>

              <ul>
                <% @flight_reservation.errors.each do |error| %>
                  <li><%= error.full_message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <% @flight_seats.group_by(&:position).each_with_index do |position_seats, position| %>
            <% current_position_class = position_seats.last.first.flight_class%>
            <% money_diff = money_diff(@flight_reservation, position_seats.last.first.flight_class) %>
            <% next if money_diff < 0 %>

            <h4><%= current_position_class.aeroplane_class.category %></h4>
            <% if money_diff > 0 %>
              <span class="badge text-bg-warning">
                You Need to Pay <%= money_diff %> EGP to Upgrade!!!
              </span><br/>
            <% end %>

            <% position_seats.last.group_by(&:row_number).each_with_index do |rows, row_number| %>
                <% rows.last.each do |seat| %>
                    <%=
                      form.radio_button(
                        :flight_seat_id, seat.id,
                        checked: current_seat?(seat, @flight_reservation),
                        disabled: disabled_seat?(seat, @flight_reservation),
                        class: 'btn-check', name: "flight_seat_id"
                      )
                    %>

                    <%=
                      form.label(
                        :flight_seat_id, seat.name, value: seat.id, 
                        class: "btn btn-outline-primary m-2"
                      )
                    %>
                <% end %>
                <br/>
            <% end %>
            <hr/>
          <% end %>

          <div class="d-grid gap-2 col-6 mx-auto">
            <%= form.submit 'Choose Seat', class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
