<div class="card shadow rounded my-5">
  <h4 class="card-header bg-primary bg-gradient text-white text-center">
    Log in
  </h4>
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }) do |f| %>
      <div class="mb-3">
        <%= f.label :email, class: 'form-label' %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
      </div>

      <div class="mb-3">
        <%= f.label :password, class: 'form-label' %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
      </div>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
