<%= form_for([:admins, @aeroplane, aeroplane_class]) do |form| %>
  <% if aeroplane_class.errors.any? %>
    <div class="text-danger">
      <p>
        <%= validation_errors_t(resource_klass, aeroplane_class.errors.count) %>
      </p>

      <ul>
        <% aeroplane_class.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :seat_price, class: 'form-label' %>
    <%= form.number_field :seat_price, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :category, class: 'form-label' %>
    <%= form.text_field :category, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :rows_number, class: 'form-label' %>
    <%= form.number_field :rows_number, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :seats_per_row, class: 'form-label' %>
    <%= form.number_field :seats_per_row, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :position, class: 'form-label' %>
    <%= form.number_field :position, class: 'form-control' %>
  </div>

  <%= form.submit t('save'), class: "btn btn-primary" %>
<% end %>
