<!DOCTYPE html>
<html>
  <head>
    <title>Admin Dashboard FlightBooking</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= link_to "Admin Home Page", admins_root_path %>
    <%= yield %>
  </body>
</html>
