<!DOCTYPE html>
<html>
  <head>
    <title>Admin Dashboard FlightBooking</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col text-center shadow-sm p-3 my-3 rounded text-white bg-primary bg-gradient">
          <h2><%= link_to "Flight Booking Administration", admins_root_path, class: "text-decoration-none text-reset" %></h2>
        </div>
      </div>
      
      <% if admin_signed_in? %>
        <div class="row mb-4">
          <div class="col">
            <nav class="navbar navbar-expand-lg bg-light">
              <div class="container-fluid">
                <div class="collapse navbar-collapse">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <% selected_link = activated_nav_link %>
                    <li class="nav-item">
                      <%=
                        link_to(
                          "Home", admins_root_path,
                          class: "nav-link #{'active' if selected_link == :home}",
                          'aria-current': "page"
                        )
                      %>
                    </li>

                    <li class="nav-item">
                      <%=
                        link_to(
                          "Aeroplanes", admins_aeroplanes_path,
                          class: "nav-link #{'active' if selected_link == :aeroplanes}",
                          'aria-current': "page"
                        )
                      %>
                    </li>

                    <li class="nav-item">
                      <%=
                        link_to(
                          "Flights", admins_flights_path,
                          class: "nav-link #{'active' if selected_link == :flights}",
                          'aria-current': "page"
                        )
                      %>
                    </li>

                    <li class="nav-item">
                      <%= 
                        link_to(
                          "Log Out", destroy_admin_session_path,
                          class: "nav-link ", data: { "turbo-method": :delete }
                        )
                      %>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>
      <% end %>

      <%= render "shared/flash_messages" %>
      
      <div class="row mx-5">
        <div class="col">
          <%= yield %>
        </div>
      </div>
    </div>    
  </body>
</html>
