<%= form_for([:admins, flight]) do |form| %>
  <% if flight.errors.any? %>
    <div class="text-danger">
      <p>
        <%= validation_errors_t(resource_klass, flight.errors.count) %>
      </p>
      <ul>
        <% flight.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :aeroplane_id, class: 'form-label' %>
    <%= form.number_field :aeroplane_id, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :departure_date, class: 'form-label' %>
    <%= form.datetime_field :departure_date, class: 'form-control' %>
  </div>

  <%= form.submit t('save'), class: "btn btn-primary" %>
<% end %>
