<%= render "shared/breadcrumbs", current_page: :admins_flight  %>
<%= render "shared/destroy_confirmation"  %>

<div class="row mt-5">
  <div class="col"><h3><%= crud_t(resource_klass, :show) %></h3></div>
  <div class="col-auto">
    <% unless @has_reservations %>
      <%=
        link_to(
          t('edit'), edit_admins_flight_path(@flight), class: 'btn btn-primary', role: "button"
        )
      %>
      <%=
        link_to(
          t('destroy'), [:admins, @flight], class: 'btn btn-danger', role: "button", 
          data: {
            'turbo-confirm': destroy_confirmation_t(resource_klass, @flight.name),
            'turbo-method': 'delete'
          }
        )
      %>
    <% end %>
  </div>
</div>

<table id="flight" class="table table-hover mt-2">
  <thead>
    <tr>
      <% %i[id name seats_ready departure_date].each do |attr_name|  %>
        <th scope="col"><%= resource_klass.human_attribute_name(attr_name) %></th>
      <% end %>
      <th scope="col"><%= Aeroplane.human_attribute_name(:name) %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><%= @flight.id %></th>
      <td><%= @flight.name %></td>
      <td><%= seats_status(@flight) %></td>
      <td><%= @flight.departure_date %></td>
      <td><%= @flight.aeroplane.name %></td>
    </tr>
  </tbody>
</table>


<% flight_class_klass = @flight_classes.klass %>
<h4 class="mt-5"><%= crud_t(flight_class_klass, :index) %></h4>

<% if @flight.seats_ready? %>
  <table id="flight_classes" class="table table-hover">
    <thead>
      <tr>
        <th scope="col"><%= flight_class_klass.human_attribute_name(:id) %></th>
        <th scope="col"><%= flight_class_klass.human_attribute_name(:seat_price) %></th>
        <% %i[category rows_number seats_per_row].each do |attr_name| %>
          <th scope="col"><%= AeroplaneClass.human_attribute_name(attr_name) %></th>
        <% end %>
        <% unless @has_reservations %>
          <th scope="col">-</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @flight_classes.each do |flight_class| %>
        <tr id="<%= dom_id flight_class %>">
          <th scope="row"><%= flight_class.id %></th>
          <td><%= flight_class.seat_price %></td>
          <td><%= flight_class.aeroplane_class.category %></td>
          <td><%= flight_class.aeroplane_class.rows_number %></td>
          <td><%= flight_class.aeroplane_class.seats_per_row %></td>
          <% unless @has_reservations %>
            <td>
              <%=
                link_to(
                  t('edit'), edit_admins_flight_class_path(flight_class),
                  class: 'btn btn-primary'
                )              
              %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
