<hr/>
<div id="<%= dom_id aeroplane_class %>">
  
  <p>
    <strong>ID:</strong>
    <%= aeroplane_class.id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= aeroplane_class.category %>
  </p>

  <p>
    <strong>Seat Price:</strong>
    <%= aeroplane_class.seat_price %>
  </p>

  <p>
    <strong>Rows Number:</strong>
    <%= aeroplane_class.rows_number %>
  </p>

  <p>
    <strong>Seats per Row:</strong>
    <%= aeroplane_class.seats_per_row %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= aeroplane_class.position %>
  </p>
</div>

<% unless aeroplane_class.aeroplane.flights? %>
  <%= link_to "Edit this aeroplane class", edit_admins_aeroplane_aeroplane_class_path(@aeroplane, aeroplane_class) %>
  <br/>
  <%= button_to "Destroy this aeroplane class", [:admins, @aeroplane, aeroplane_class], method: :delete %>
<% end %>
