<%= form_for([:admins, aeroplane]) do |form| %>
  <% if aeroplane.errors.any? %>
    <div class="text-danger">
      <p>
        <%= validation_errors_t(resource_klass, aeroplane.errors.count) %>
      </p>

      <ul>
        <% aeroplane.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <%= form.submit t('save'), class: "btn btn-primary" %>
<% end %>
