<div class="row mt-5">
  <div class="col"><h3>Aeroplane</h3></div>
  <div class="col-auto">
    <% unless @aeroplane.flights?  %>
      <%=
        link_to(
          "Edit", edit_admins_aeroplane_path(@aeroplane), class: 'btn btn-primary', role: "button"
        )
      %>
      <%=
        link_to(
          "Destroy", [:admins, @aeroplane], class: 'btn btn-danger', role: "button",
          data: { "turbo-method": :delete }
        )
      %>
    <% end %>
  </div>
</div>

<table id="aeroplane" class="table table-hover mt-2">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><%= @aeroplane.id %></th>
      <td><%= @aeroplane.name %></td>
    </tr>
  </tbody>
</table>


<div class="row mt-5">
  <div class="col"><h4>Aeroplane Classes</h4></div>
  <div class="col-auto">
    <% unless @aeroplane.flights? %>
      <%=
        link_to(
          "New aeroplane class", new_admins_aeroplane_aeroplane_class_path(@aeroplane),
          class: "btn btn-primary"
        )
      %>
    <% end %>
  </div>
</div>

<table id="aeroplane_classes" class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Category</th>
      <th scope="col">Seat Price</th>
      <th scope="col">Rows Number</th>
      <th scope="col">Seats per Row</th>
      <th scope="col">Position</th>
      <% unless @aeroplane.flights? %>
        <th scope="col"></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @aeroplane.aeroplane_classes.each do |aeroplane_class| %>
      <tr id="<%= dom_id aeroplane_class %>"">
        <th scope="row"><%= aeroplane_class.id %></th>
        <td><%= aeroplane_class.category %></td>
        <td><%= aeroplane_class.seat_price %></td>
        <td><%= aeroplane_class.rows_number %></td>
        <td><%= aeroplane_class.seats_per_row %></td>
        <td><%= aeroplane_class.position %></td>
        <% unless @aeroplane.flights? %>
          <td>
            <%=
              link_to(
                "Edit", edit_admins_aeroplane_aeroplane_class_path(@aeroplane, aeroplane_class),
                class: 'btn btn-primary'
              )
            %>
            <%=
              link_to(
                "Destroy", [:admins, @aeroplane, aeroplane_class], class: 'btn btn-danger', role: "button",
                data: { "turbo-method": :delete }
              )
            %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Back to aeroplanes", admins_aeroplanes_path %>
